<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/admin.css">
</head>
<body>
    <header class="admin__header">
      <a class="admin__logo" href="index">
        Admin
      </a>
    </header>
    <div class="admin__base">
      <aside class="admin__aside">
        <h2 class="admin__menu-h2">Меню</h2>
        <div class="admin__partition"></div>
        <div class="admin__menu">
          <p id="admin__menu_user_table">Список пользователей</p>
          <p id="admin__menu_user_recommendation">Рекомендации пользователю по корреляции Пирсона</p>
          <p id="admin__menu_user_matrix_funk_svd">Генерация матриц Funk SVD</p>
          <p id="admin__menu_user_recommendation_funk_svd">Рекомендации пользователю по Funk SVD</p>
          <!-- <p id="admin__menu_user_recommendation_testing">Тестирование рекомендаций по корреляции Пирсона</p>
          <p id="admin__menu_user_recommendation_funk_svd_testing">Тестирование рекомендаций по Funk SVD</p> -->
        </div>
      </aside>
      <main id="admin__main" class="admin__main">
        <div class="admin__main-container-placeholder">
          <div class="admin__main-placeholder">
            Выберите пункт меню.
          </div>
        </div>
        
      </main>
    </div>
    <footer class="admin__footer">

    </footer>
    
    <script>
      let abortController = new AbortController();
    </script>
    <script src="static/javascripts/user_table.js"></script>
    <script src="static/javascripts/user_recommendations.js"></script>
    <script src="static/javascripts/user_recommendations_funk_svd.js"></script>
    <script src="static/javascripts/user_matrix_funk_svd.js"></script>
    <script src="static/javascripts/user_recommendations_testing.js"></script>
    <script src="static/javascripts/user_recommendation_funk_svd_testing.js"></script>
</body>
</html>