<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/admin.css">
</head>
<body>
    <header class="admin__header">
      <a class="admin__logo" href="index">
        Admin
      </a>
    </header>
    <div class="admin__base">
      <aside class="admin__aside">
        <h2 class="admin__menu-h2">Меню</h2>
        <div class="admin__partition"></div>
        <div class="admin__menu">
          <p id="admin__menu_user_recommendation">Рекомендации пользавателю по id</p>
          <p id="admin__menu_user_recommendation_testing">Тестирование рекомендаций</p>
        </div>
      </aside>
      <main id="admin__main" class="admin__main">
        <div class="admin__main-container-placeholder">
          <div class="admin__main-placeholder">
            Выберите пункт меню.
          </div>
        </div>
        <!-- <div class="admin__main-container">
          <h1 class="admin__h1"> Рекомендации пользавателю по id </h1>
          <div class="admin__content">
            <div class="admin__form">
              <div>
                <label for="user_id">Id пользователя:</label>
                <input class="admin__input-number" type="number" min="1" id="user_recommendation_id">
              </div>
              <div>
                <input class="admin__input-button" type="button" value="Запрос" id="user_recommendation_button">
              </div>
            </div>
            <div class="admin__result">
              <h2>Результаты:</h2>
              <div class="admin__result-content" id="admin__user-recommendations">

              </div>
            </div>
          </div>
        </div> -->
        
      </main>
    </div>
    <footer class="admin__footer">

    </footer>

    <script src="static/javascripts/user_recommendations.js"></script>
    <script src="static/javascripts/user_recommendations_testing.js"></script>
</body>
</html>